[submodule "themes/academia-hugo"]
	path = themes/academia-hugo
	url = https://github.com/themefisher/academia-hugo
[submodule "public"]
	path = public
	url = https://github.com/Sayar1106/Sayar1106.github.io.git
	branch = master
